.navContainer {
  width: 20%;
  justify-content: flex-start;
}

.buttonImages {
  height: 130px;
  width: 130px;
  margin: 1px 75px;
}

button {
  border-radius: 8px;
  display: block;
  font-family: 'Dunkin';
  color: #FF0075;
  font-size: 18px;
  height: 30px;
  margin: 5px auto;
  width: 70%;
}

button:hover {
  color: #72C676;
}