.card {
    background-color: rgba(255,255,255, 0.6);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Dunkin';
}

.cardTitle {
    font-size: 21px;
    margin-left: 10px;
}

img {
    margin-right: 10px;
}

.cardList {
    font-size: 12px;
    padding-left: 10px;
}

footer {
    display: inline-block;
}

.faveHeart {
    height: 18px;
    padding-right: 2px;
    width: 18px;
}

header, 
ul, 
footer {
    justify-content: space-between;
}