.card {
    background-color: rgba(255,255,255, 0.6);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Dunkin';
    padding-bottom: 10px;
    height: 225px;
}

.cardTitle {
    font-size: 21px;
    margin-left: 10px;
}

img {
    margin-right: 10px;
}

.cardList {
    font-size: 12px;
    padding-left: 10px;
}

.list-container {
    height: 200px;
    overflow: scroll;
}

footer {
    display: block;
}

.faveHeart {
    height: 18px;
    padding-right: 2px;
    width: 18px;
}

header, 
ul, 
footer {
    justify-content: space-between;
}

.cardButton {
    border-radius: 8px;
    display: block;
    font-family: 'Dunkin';
    color: #FF0075;
    font-size: 18px;
    height: 30px;
    margin: 5px auto;
    width: 70%;
}
