.card {
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    font-family: 'Dunkin';
}

.starBackground {
    background-image: url("../../images/Star.png");
    border: red 2px solid;
}

footer {
    display: inline-block;
}

header, 
ul, 
footer {
    justify-content: space-between;
}