h1 {
    color: white;
    font-size: 75px;
}

.bow {
    padding: 25px 90px;
}

.categoriesContainer {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    grid-gap: 20px;
    height: 70%;
    justify-content: flex-end;
    overflow: scroll;
    padding: 50px;
}

.helloHeader {
    background-color: pink;
    border-radius: 10px;
    display: flex;
    height: 50px;
}

h3 {
    font-size: 30px;
    margin: 12px;
}

.pinkbow {
    width: 300px;
    position: fixed;
    right: 30px;
    top: -15px;
}

.fav-heart {
    width: 20px;
    margin-right: 0px;
    
}

.pick-favorites {
    margin-right: 16.5em;
}