@font-face {
  font-family: 'Japan';
  src: local('Japan'), url(./fonts/Japan.ttf) format('ttf');
  font-family: 'Dunkin';
  src: local('Dunkin'), url(./fonts/Dunkin.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: 'Japan'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
